page-home {
    ion-content {
        background: color($colors, dark);
        font-family: 'Poppins', sans-serif;
    }
    img {
        max-height: 250px;

    }
    .loading {
        margin-top: 100px;
    }
    h2 {
        margin: 3px;
    }
}
