<ion-content padding text-center>
  <img (click)="alert()" id="logo" src="assets/imgs/techbooks.png" alt="TechBooks">
    <form action=".">
      <ion-item id="input-item">
          <ion-input id="input" #q (keyup.enter)="searchFunction(q.value)" placeholder="Search here..." autocorrect="on" type="search" clearInput></ion-input>
      </ion-item>
    </form>

  <div *ngIf="loading == true">
    <img class="loading" src="assets/imgs/loading.svg" alt="">
  </div>
  <div *ngIf="noResults == true">
    <h3 class="no-results">Sorry! No results for this search.</h3>
    <img src="assets/imgs/no_data.svg" alt="No Results">
  </div>
    <ion-card *ngFor="let book of books" (click)="openCards(book.id)">
      <ion-row>
        <ion-item>
          <h3>
            <strong>{{ book.volumeInfo.title }}</strong>
          </h3>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src={{book.volumeInfo.imageLinks.smallThumbnail}} alt="{{book.volumeInfo.title}}_thumbnail">
        </ion-col>
        <ion-col>
        <h2>
          {{ book.volumeInfo.description.substring(0,100) }}...
        </h2>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
