page-home {
    ion-content {
        background: color($colors, primary);
    }
    img {
        max-height: 250px;
    }
    .loading {
      margin-top: 100px;
    }
    .no-results {
        font-family: 'Poppins', sans-serif;
    }
}
