ion-icon {
  float: right !important;
  font-size: 3em;
  padding: 0px 9px 9px 9px;
}
ion-card {
  flex-grow: 0 !important;
  flex: 1 1 30%;
  max-height: 400px;
  min-width: 300px;
  height: auto;
}
.flex-container {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
ion-content {
  background: color($colors, dark);
  font-family: 'Poppins', sans-serif;
}

ion-row ion-col img {
  margin: auto;
  width: 100px;
}

ion-card ion-row ion-item h3 {
  text-align: center;
}

.resultCards {
  padding: 10px;
  margin-top: 0 !important;
}

#logo {
  height: 250px;
  max-height: 50vw;
}

#input-item {
  padding-left: 0;
}

#input {
  width: 100%;
  font-size: 25px;
  padding-left: 35px;
}

.loading {
  margin-top: 100px;
}

.text-input {
  text-align: center;
}

h2 {
  margin: 3px;
}

div h3 {
  margin-top: 10px;
}
