page-cards {

  img {
      max-height: 250px;
  }
  ion-content {
      background: color($colors, primary);
  }
  ion-row ion-col img{
      margin: auto;
      width: 100px;
  }
  ion-card ion-row ion-item h3{
      text-align: center;
  }
  sc-card {
    height: 80% !important;
  }

  ion-content div h3 {
    margin-top: 10px;
  }
}
